{% extends 'booking/base.html' %}
{% load static %}
{% block head %}
    <link href="{% static "booking/fontawesome/css/all.min.css" %}" rel="stylesheet">
    <link href="{% static "booking/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "booking/fullcalendar/core/main.css" %}" rel="stylesheet">
    <link href="{% static "booking/fullcalendar/daygrid/main.css" %}" rel="stylesheet">
    <link href="{% static "booking/fullcalendar/bootstrap/main.css" %}" rel="stylesheet">

    <script src="{% static "booking/jquery/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "booking/fullcalendar/core/main.js" %}"></script>
    <script src="{% static "booking/fullcalendar/core/locales/da.js" %}"></script>
    <script src="{% static "booking/fullcalendar/daygrid/main.js" %}"></script>
    <script src="{% static "booking/fullcalendar/bootstrap/main.js" %}"></script>
    <script src="{% static "booking/fullcalendar/interaction/main.js" %}"></script>
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="container">
    <div id="calendar"></div>
</div>
{% endblock %}
{% block bodyjs %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var calendarEl = document.getElementById("calendar");

            var calendar = new FullCalendar.Calendar(calendarEl, {
                header: {
                    left: "",
                    center: "title",
                    right: "prevYear,prev,today,next,nextYear"
                },
                events: "{% url "booking_api" %}",
                locale: "da",
                plugins: [ "dayGrid", "bootstrap", "interaction"],
                themeSystem: "bootstrap",
                editable: true,
                eventResizableFromStart: true,
                eventDrop: function(info) {
                    updateEvent(info.event);

                },
                eventResize: function(info) {
                    updateEvent(info.event);
                }
            });

            calendar.render();
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function formatDate(date){
            return date.toISOString().split("T")[0];
        }

        function addDay(date, days){
            date.setDate(date.getDate() + days);
            return date;
        }

        function updateEvent(event){
            data = $.param({
                id: event.id,
                name: event.title,
                date_from: formatDate(addDay(event.start, 1)),
                date_to: formatDate(event.end)
            });

            $.post(event.url, data);
        }

    </script>
{% endblock %}